<a href="https://colab.research.google.com/github/figojulioez/Laporan-Praktikum-StrukDat/blob/main/Pertemuan%201/2410506001_STRUKDAT_ARRAY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# Deklarasi array kosong
data = []

# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# Menampilkan isi array
print("Isi array angka: ", angka)

Isi array angka:  [10, 20, 30, 40, 50]

# Latihan 1
Buatlah array yang berisi NPM Anda diikuti dengan 4 NPM sebelum ATAU setelah Anda kemudian tampilkan isi array tersebut!

In [25]:
npms = [2410506001, 2410506002, 2410506003, 2410506004, 2410506005]

print("Isi array npms: ", npms)

Isi array npms:  [2410506001, 2410506002, 2410506003, 2410506004, 2410506005]

In [26]:
# Mengakses elemen Array
print("Elemen pertama: ", angka[0]) # Elemen pertama
print("Elemen terakhir: ", angka[-1]) # Elemen terakhir

Elemen pertama:  10
Elemen terakhir:  50

In [27]:
# Menambah elemen menggunakan append()
angka.append(60)
print("Array setelah penambahan elemen:", angka)

# Menambah elemen menggunakan insert()
angka.insert(2, 25) # Menyismpkan 25 di indeks ke-2
print("Array setelah penambahan elemen dengan insert: ",angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]
Array setelah penambahan elemen dengan insert:  [10, 20, 25, 30, 40, 50, 60]

In [28]:
# Menghapus elemen menggunakan remove()
angka.remove(25) # Menghapus nilai 25
print("Array setelah menghapus elemen 25: ", angka)

# Menghapus elemen menggunakan pop()
angka.pop(2) # Menghapus elemen pada indeks ke-2

print("Array setelah menghapus elemen pada indeks 2:", angka)

Array setelah menghapus elemen 25:  [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen pada indeks 2: [10, 20, 40, 50, 60]

In [29]:
# Mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pertama: ", angka)

Array setelah mengubah elemen pertama:  [100, 20, 40, 50, 60]

# Latihan 2
Tambahkan nilai npm Anda (2 digit terakhir) ke dalam array angka dan hapus elemen pertama!

In [30]:
angka.append(1) # Dua digit terakhir npm saya 01
angka.pop(0)

print("Isi nilai angka: ", angka)

Isi nilai angka:  [20, 40, 50, 60, 1]

In [31]:
angka = [10, 20, 30, 40]

for nilai in angka:
  print("Nilai:", nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

# Latihan 3
Buat program untuk menampilkan semua nama Fakultas di Untidar dengan array dan perulangan

In [32]:
fakultasUntidar = [
    "Teknik",
    "Keguruan dan Pendidikan",
    "Ilmu Politik",
    "Ekonomi",
    "Pertanian"
]

for fakultas in fakultasUntidar:
  print("Fakultas: ", fakultas)

Fakultas:  Teknik
Fakultas:  Keguruan dan Pendidikan
Fakultas:  Ilmu Politik
Fakultas:  Ekonomi
Fakultas:  Pertanian

In [33]:
angka = [10,20,30,40]

print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum:", min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum: 10

# Latihan 4
Buatlah array yang berisi harga barang dan hitung jumlah elemen dari array tersebut

In [34]:
hargaBarang = [10000, 2000, 3000, 40000]

print("Jumlah total harga barang: ", sum(hargaBarang))
print("Jumlah elemen harga barang: ", len(hargaBarang))

Jumlah total harga barang:  55000
Jumlah elemen harga barang:  4

In [35]:
# Deklarasi array 2D
matriks = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

# Menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
  print(baris)

Isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

# Latihan 5
Buatlah array 2D yang berisi 3 baris dan 4 kolom, lalu tampilkan isi array tersebut menggunakan perulangan!

In [36]:
data = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
data

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [37]:
# Mengakses elemen pada baris ke-1, kolom ke-2 (indeks [0][1])
print("Elemen pada baris 1, kolom 2: ", matriks[0][1])

# Mengakses elemen terakhir (baris ke-3, kolom ke-3)
print("Elemen terakhir: ", matriks[-1][-1])

Elemen pada baris 1, kolom 2:  2
Elemen terakhir:  9

# Latihan 6
Akses elemen pada baris 2 kolom 4 dari array 2 dimensi yang telah adana buat pada latihan 5

In [38]:
print("Elemen baris ke-2 kolom ke-4: ", data[1][3]) # Indeks array mulai dari 0

Elemen baris ke-2 kolom ke-4:  8

In [39]:
# Menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru: ", matriks)

# Menambahkan elemen pada baris ke-2
matriks[1].append(99)
print("Array setelah menambahkan elemen di baris ke-2: ", matriks)

Array setelah menambahkan baris baru:  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
Array setelah menambahkan elemen di baris ke-2:  [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]

# Latihan 7
Tambahkan baris baru yang berisi tanggal lahir, bulan lahir, 2 digit awal tahun lahir, dan digit terakhir tahun lahir anda, dan tampilkan dalam bentuk baris dan kolom

In [40]:
matriks.append([7, 7, 20, 6])
print("Menampilkan dalam bentuk baris dan kolom: ", matriks)

Menampilkan dalam bentuk baris dan kolom:  [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12], [7, 7, 20, 6]]

In [41]:
# Menghapus elemen tertentu dari baris ke-1
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:", matriks)

# Menghapus elemen pada indeks tertentu dari baris ke-2
matriks[1].pop(1)
print("Array setelah menghapus elemen indeks ke-1 dari baris ke-2:", matriks)

Array setelah menghapus elemen 2 dari baris pertama: [[1, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12], [7, 7, 20, 6]]
Array setelah menghapus elemen indeks ke-1 dari baris ke-2: [[1, 3], [4, 6, 99], [7, 8, 9], [10, 11, 12], [7, 7, 20, 6]]

# Latihan 8
Modifikasilah array pada latihan sebelumnya untuk menghapus elemen ke-3 dari baris terakhir

In [42]:
matriks[-1].pop(2) # Menghapus elemen ke-3 yaitu indeks ke 2 karena indeks mulai dari 0

print("Array setelah menghapus elemen ke-3 dari baris terakhir:", matriks)

Array setelah menghapus elemen ke-3 dari baris terakhir: [[1, 3], [4, 6, 99], [7, 8, 9], [10, 11, 12], [7, 7, 6]]

In [43]:
# Mengubah elemen pada baris ke-3, kolom ke-2
matriks[2][1] = 88
print("Array setelah mengubah elemen baris ke-3, kolom ke-2:", matriks)

Array setelah mengubah elemen baris ke-3, kolom ke-2: [[1, 3], [4, 6, 99], [7, 88, 9], [10, 11, 12], [7, 7, 6]]

# Latihan 9
Ubah elemen pada baris terakhir kolom terakhir dengan tanggal hari ini!

In [44]:
matriks[-1][-1] = 14 # Sekarang tanggal 14
print("Array setelah mengubah elemen baris terakhir kolom terakhir:", matriks)

Array setelah mengubah elemen baris terakhir kolom terakhir: [[1, 3], [4, 6, 99], [7, 88, 9], [10, 11, 12], [7, 7, 14]]

In [45]:
belanja = ["Beras", "Gula", "Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Beras', 'Minyak', 'Teh']

# Latihan 10
Buat daftar belanja Anda sendiri dan modifikasi isinya

In [46]:
belanjaSendiri = ["Indomie Kari Ayam", "Indomie Rasa Seblak", "Indomie Rendang"]
belanjaSendiri.remove("Indomie Rendang") # Hujan hujan enaknya yang kuah
belanjaSendiri.append("Indomie Soto")
print("Daftar belanja saya sendiri serta sudah di modifikasi isinya: ", belanjaSendiri)

Daftar belanja saya sendiri serta sudah di modifikasi isinya:  ['Indomie Kari Ayam', 'Indomie Rasa Seblak', 'Indomie Soto']